<a href="https://colab.research.google.com/github/HYMOT/sikyungKim_2022231114/blob/main/Quiz%20on%20List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [50]:
# Write your code below and press Shift+Enter to execute
a_list = [1, "hello", [1,2,3], True]
print(a_list)
print(type(a_list))

[1, 'hello', [1, 2, 3], True]
<class 'list'>

Find the value stored at index 1 of <code>a_list</code>.

In [51]:
# Write your code below and press Shift+Enter to execute
find_index = a_list[1]
print(find_index)

hello

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [52]:
# Write your code below and press Shift+Enter to execute
four_index = a_list[1:4]
print(four_index)

['hello', [1, 2, 3], True]

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [53]:
# Write your code below and press Shift+Enter to execute
A = [1, 'a']
B = [2, 1, 'd']
C = A + B

print(A)
print(B)
print(C)

[1, 'a']
[2, 1, 'd']
[1, 'a', 2, 1, 'd']